* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

main {
  background-color: #1c1c1c;
}

main.bg-dark {
  background-color: #1c1c1c;
}

main.bg-light {
  background-color: white;
}

main .container {
  width: 70%;
  margin: auto;
}

main .comics {
  display: flex;
  flex-wrap: wrap;
}

main .comics .single-comic {
  width: calc(16.6666666667% - 10px);
  margin: 5px;
}

main .comics .single-comic h3 {
  color: white;
}

