main {

    &.bg-dark{
        background-color: #1c1c1c;
    }

    &.bg-light{
        background-color: white;
    }


    background-color: #1c1c1c;

    .container{
        width: 70%;
        margin: auto;
    }

    .comics{
        display: flex;
        flex-wrap: wrap;

        .single-comic{
            width: calc((100% / 6) - 10px) ;
            margin: 5px;

            h3{
                color: white;
            }
        }
    }

}